body {
    padding: 0;
    margin: 0;
    font-family: sans-serif, 'Lucida Sans', 'Lucida Sans Regular', Arial;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 300px;
    margin: auto;
}

#root {
    flex: 1;
}

h1 {
    font-size: 2.75rem;
    margin: 1.5rem 0 1rem 0;
    color: #101828;
}

p {
    margin: 0;
}

.fc-light {
    color: #99a1af;
}

/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* Header */

header {
    text-align: center;
    padding-top: 2.5rem;
}

.fa-brain {
    font-size: 50px;
    padding: 1.25rem 1rem;
    border-radius: 20px;
    color: white;
    background-color: #4f39f6;
}

.subtitle {    
    font-size: 1.25rem;
    white-space: nowrap;
}

/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* Main Content */

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
}


.container {
    display: flex;
    gap: 1rem;
    margin: 1.25rem 0;
}

.container > div {
    border-radius: 8px;
    border: 1px solid rgba(197, 194, 194, 0.685);
    text-align: center;  
    white-space: nowrap;  
    font-size: .75rem;
    width: 85px;
    padding: 1rem 0;
    background-color: #ffffff;
    color: #09090b;
}

.fa-list-check {
    font-size: 1.25rem;
    color: #4f39f6;
}

.fa-bolt {
    font-size: 1.25rem;
    color: blue;
}

.fa-star {
    color: gold;
    font-size: 1.25rem;
}

.mt {
    margin-top: .5rem;
}

.fs {
    font-size: .7rem;
}

.name-fieldset {
    border-radius: 12px;
    padding: 1.5rem 2rem;
}

.name-lebel {
    font-weight: 600;
}


.name-input {
    width: 100%;
    padding: .5rem 0 .5rem .75rem;
    border-radius: 6px;
    border: 1px solid lightgray;
    margin-top: 1rem;
}

.name-helper-text {
    display: block;
    margin-top: .5rem;
}


.button-link {
    width: 100%;
}

main button {
    padding: 1rem;
    background-color:#4f39f6;
    width: 100%;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 1.25rem;
    margin-top: 1rem;
}


.btn-bolt-style {
    color: white;
    margin-right: .5rem;
}


/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* Footer */


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem 0;
    font-size: 1.15rem;
    margin-top: auto;
}


.contact {
    text-align: center;
    margin-bottom: 2.5rem;
}

.contact > p {
    padding-bottom: 1rem;
}

.contact-info {
    display: flex;
    gap: 1rem;
}

.copyright {
    position:relative;
    bottom: 0;
    padding: 1rem 0;
    white-space: nowrap;
}